* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.bg {
    position: relative;
    background-image: url('./meida/index.css.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.logo {
    width: 150px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}
.logo img {
    border-radius: 20px;
    
}

/*========== CARDS ==========*/

.card {
    width: 500px;
    height: 400px;
    background-color: #fff;
    position: relative;
    border-radius: 20px;
    top: 120px;
}

.company-card {
    float: left;
    left: 150px;

}

.worker-card {
    float: right;
    right: 150px
}

.card-logo {
    width: 100px;
    height: 100px;
    border-radius: 90%;
    border: 2px solid #ccc;
    position: relative;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.card-logo img {
    width: 70%;
    height: 70%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ro-text {
    display: none;
}

.ru-text {
    display: none;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    position: relative;
    top: -50px;
    text-align: center;
    font-weight: bold;
    color: #02569C;
}

.subtitle {
    position: relative;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #02569C;
    text-align: center;
    top: -50px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    line-height: 45px;
    position: relative;
    top: -25px
}

.ro-text .text, .en-text .text, .ru-text .text  {
    position: relative;
    left: -40px
}

.languages {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-17%);
    right: 10px;
}

.languages div {
    width: 70px;
    height: 70px;
    border-radius: 90%;
}

.selected{
    border: 3px solid #02569C;
    cursor: pointer;
}

.languages img {
    cursor: pointer;
    border-radius: 90%;
    width: 100%;
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 10px;
    background-color: #fff;
    width: 700px;
    height: 200px;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.phone {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    color: #02569C;
    text-align: center;
    margin-top: 10px;
}

.footer img {
    width: 500px;
    height: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
} 

@media only screen and (max-width: 500px) {
    .bg {
        height: 1620px;
    }

    .logo {
        position: relative;
    }

    .card {
        width: 94%;
        left: 3%;
        top: 100px;
        height: auto;
        float: none;
    }

    .worker-card {
        top: 200px;
        position: relative;
        height: 550px;
    }

    .ro-text .text, .en-text .text, .ru-text .text  {
        position: relative;
        left: 0
    }

    .languages {
        width: 280px;
        position: absolute;
        left: 50%;  
        transform: translate(-50%, 0);
        top: 84%;
    }

    .languages div {
        display: inline-block;
        margin: 0 10px
    }


    .footer {
        padding-top: 30px;
        width: 94%;
        position: relative;
        margin-bottom: 10px;
        top: 220px
    }

    .footer img {
        width: 70%;
        height: 100px;
    }

    .ru-text .text {
        line-height: 30px;
    }
}